@model IEnumerable<Tadb.ServerStudio.Models.CatalogModels.EquipmentCatalogModel>

@{
    ViewBag.Title = "Справочник оборудования";
}

<h2>Справочник оборудования</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipment_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.equipment_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Добавить", "EquipmentCatalog_Append", "Catalogs", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn" })