@model IEnumerable<Tadb.ServerStudio.Models.CatalogModels.FixtureCatalogModel>

@{
    ViewBag.Title = "Справочник приспособлений";
}

<h2>Справочник приспособлений</h2>

<table class="table catalog">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fixture_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fixture_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fixture_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fixture_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Добавить", "FixtureCatalog_Append", "Catalogs", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn" })
