@model IEnumerable<Tadb.ServerStudio.Models.CatalogModels.ProcessCatalogModel>

@{
    ViewBag.Title = "Справочник технологических переходов";
}

<h2>Справочник технологических переходов</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.process_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.process_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>

@Html.ActionLink("Добавить", "ProcessCatalog_Append", "Catalogs", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn" })