<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#base-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("База технологических возможностей", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse" id="base-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Записи", "TechBaseReport", "Home")</li>
                    <li>@Html.ActionLink("Детали", "DetailReport", "Home")</li>
                </ul>

                <form class="form-inline navbar-right login-links">
                    @if (Request.IsAuthenticated)
                    {
                        <button onclick="location.href = '@Url.Action("Logout", "Account")'; return false;" class="btn btn-sm btn-primary btn-outline-success my-2 my-sm-0">Выйти из системы</button>
                    }
                    else
                    {
                        <button onclick="location.href = '@Url.Action("Login", "Account")'; return false;" class="btn btn-sm  btn-primary btn-outline-success my-2 my-sm-0">Войти в систему</button>
                    }
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year – СГТУ</p>
        </footer>
    </div>
</body>
</html>