@model DetailModel

    <tr>
        <td>@Model.id_employee</td>
        <td>@Model.code_detail</td>
        <td>@Model.name_detail</td>
        <td>@Model.mark_material</td>
        <td>@Model.size_production</td>
        <td>@Model.size_transmission</td>
        <td>@Model.mass_detail</td>
        <td>@Model.central_hole</td>
    </tr>