@model DetailModel

<div>
    <h4>DetailModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detail_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mark_material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark_material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size_production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size_production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size_transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size_transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mass_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mass_detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.central_hole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.central_hole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>