@model RecordModel

<tr>
    <td>@Model.id_employee</td>
    <td>@Model.id_status</td>
    <td>@Model.equipment_code</td>
    <td>@Model.fixture_code</td>
    <td>@Model.process_code</td>
    <td>@Model.surface_code</td>
</tr>