@{
    ViewBag.Title = "Home Page";
}

<h1>Система отчетов</h1>

@Html.ActionLink("Отчет по базе технологических возможностей", "TechBaseReport", null, new { @class = "btn btn-info" })

@Html.ActionLink("Отчет по деталям", "DetailReport", null, new { @class = "btn btn-info" })

<section class="catalogs">
    
    <h3>Справочники</h3>

    <div>
        @Html.ActionLink("Справочник поверхностей", "SurfaceCatalogs", "Catalogs", null, new { @class = "" })
    </div>

    <div>
        @Html.ActionLink("Справочник оборудования", "EquipmentCatalogs", "Catalogs", null, new { @class = "" })
    </div>

    <div>
        @Html.ActionLink("Справочник технологических переходов", "ProcessCatalogs", "Catalogs", null, new { @class = "" })
    </div>

    <div>
        @Html.ActionLink("Справочник приспособлений", "FixtureCatalogs", "Catalogs", null, new { @class = "" })
    </div>
</section>